#calculator {
    width: 500px;
    margin: 0 auto;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 8%;
  }
  
  .form div {
    margin: 20px 0;
  }
  
  #result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 36px;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)), url(img/bg.jpg);
    background-size: cover;
  }
  .rain {
    height: 100vh;
    background-image: url(img/rain.png);
    animation: rain 0.3s linear infinite;
  }
  @keyframes rain {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 20% 100%;
    }
  }
  .rain::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/lightining.png);
    top: -100px;
    transform: rotate(180deg);
    animation: lightining 4s linear infinite;
    opacity: 1;
  }
  @keyframes lightining {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    21% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    31% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  label {
    font-size: 26px;
    font-weight: 600;
  }
  select {
    padding: 6px;
    border-radius: 21px;
    border: none;
    background: #c3c3c3;
  }
  input {
    background: none;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    filter: drop-shadow(2px 4px 6px black);
    color: white;
    margin: 15px 15px;
  }

  
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    z-index: 1;
  }
  .container .card {
    position: relative;
    width: 55%;
    height: 400px;
    margin: auto;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
  .container .card .content {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
  }
  .container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  .container .card .content h3 {
    font-size: 1.8em;
    color: white;
    z-index: 1;
  }
  .container .card .content p {
    font-size: 1em;
    color: white;
    font-weight: 300;
  }
  .container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  button {
    padding: 8px 25px;
    font-size: 14px;
    letter-spacing: 1px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, #bbbec1 50%);
    background-size: 200%;
    background-position: right;
    border-radius: 10px;
    transition: background-position 0.5s;
    /* filter: drop-shadow(2px 4px 6px black); */
  }
  button:hover {
    background-position: left;
    color: black;
    font-weight: 700;
  }